In [1]:
#spark context
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/boboburo/spark/spark-3.0.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/03/02 17:05:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
df = spark.read.parquet('pq/fhv/2021/02/')

# Question 3

How many taxi trips were there on February 15? Consider only trips that started on February 15.

Answer: 367170

In [3]:
import pyspark.sql.functions as F 

df.groupBy(F.to_date('pickup_datetime').alias('date')).count().orderBy('date').show()

+----------+------+
|      date| count|
+----------+------+
|2021-02-01|176946|
|2021-02-02|302785|
|2021-02-03|421697|
|2021-02-04|419432|
|2021-02-05|478766|
|2021-02-06|470555|
|2021-02-07|344533|
|2021-02-08|398445|
|2021-02-09|398476|
|2021-02-10|403476|
|2021-02-11|428288|
|2021-02-12|469162|
|2021-02-13|509331|
|2021-02-14|460661|
|2021-02-15|367170|
|2021-02-16|362596|
|2021-02-17|415856|
|2021-02-18|372878|
|2021-02-19|459887|
|2021-02-20|497072|
+----------+------+
only showing top 20 rows

# Question 4

Longest trip for each day.Now calculate the duration for each trip.Trip starting on which day was the longest?

Answer: |2021-02-11|75540 seconds = 20 hours!

In [7]:
diff_secs_col = F.col("dropoff_datetime").cast("long") - F.col("pickup_datetime").cast("long")
df = df.withColumn( "diff_time", diff_secs_col)
df.groupBy(F.to_date('pickup_datetime').alias('date')).max('diff_time').orderBy('date').show()

+----------+--------------+
|      date|max(diff_time)|
+----------+--------------+
|2021-02-01|         20638|
|2021-02-02|         30913|
|2021-02-03|         40653|
|2021-02-04|         25592|
|2021-02-05|         30511|
|2021-02-06|         31447|
|2021-02-07|         17672|
|2021-02-08|         30106|
|2021-02-09|         32087|
|2021-02-10|         34169|
|2021-02-11|         75540|
|2021-02-12|         30148|
|2021-02-13|         21442|
|2021-02-14|         29777|
|2021-02-15|         25874|
|2021-02-16|         25441|
|2021-02-17|         57221|
|2021-02-18|         34612|
|2021-02-19|         37577|
|2021-02-20|         44039|
+----------+--------------+
only showing top 20 rows

In [9]:
75540/60/60

20.983333333333334

# Question 5: 

Now find the most frequently occurring dispatching_base_num in this dataset.

How many stages this spark job has?

Note: the answer may depend on how you write the query, so there are multiple correct answers. Select the one you have.

Answer: 2

In [10]:
df.groupBy('dispatching_base_num').count().orderBy('count').show()

+--------------------+------+
|dispatching_base_num| count|
+--------------------+------+
|              B03136|  1741|
|              B02844|  3502|
|              B02512| 41043|
|              B02865| 76160|
|              B02800| 84277|
|              B02870|101945|
|              B02395|112433|
|              B02880|115716|
|              B02836|128978|
|              B02889|138762|
|              B02888|169167|
|              B02835|189031|
|              B02877|198938|
|              B02867|200530|
|              B02879|210137|
|              B02876|215693|
|              B02882|232173|
|              B02884|244963|
|              B02883|251617|
|              B02617|274510|
+--------------------+------+
only showing top 20 rows

# Question 6. Most common locations pair

In [11]:
df_zones = spark.read \
    .option("header","true") \
    .csv('taxi+_zone_lookup.csv')

In [26]:
df_zones.show(100)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
|        21|     Brooklyn|    Bensonhurst East|   Boro Zone|
|        22|     Brooklyn|    Bensonhurst West|   Boro Zone|
|        23|Staten Island|Bloomfield/Emerso...|   Boro Zone|
|        24|    Manhattan|        Bloomingdale| Yellow Zone|
|        25|     Brooklyn|         Boerum Hill|   Boro Zone|
|        26|     Brooklyn|        Borough Park|   Boro Zone|
|        27|       Queens|Breezy Point/Fort...|   Boro Zone|
|        28|       Queens|Briarwood/Jamaica...|   Boro Zone|
|        29|     Brooklyn|      Brighton Beach|   Boro Zone|
|        30|       Queens|       Broad Channel|   Boro Zone|
|        31|        Bronx|          Bronx Park|   Boro Zone|
|        32|        Bronx|           Bronxdale|   Boro Zone|
|        33|     Brooklyn|    Brooklyn Heights|   Boro Zone|
|        34|     Brooklyn|  Brooklyn Navy Yard|   Boro Zone|
|        35|     Brooklyn|         Brownsville|   Boro Zone|
|        36|     Brooklyn|      Bushwick North|   Boro Zone|
|        37|     Brooklyn|      Bushwick South|   Boro Zone|
|        38|       Queens|     Cambria Heights|   Boro Zone|
|        39|     Brooklyn|            Canarsie|   Boro Zone|
|        40|     Brooklyn|     Carroll Gardens|   Boro Zone|
|        41|    Manhattan|      Central Harlem|   Boro Zone|
|        42|    Manhattan|Central Harlem North|   Boro Zone|
|        43|    Manhattan|        Central Park| Yellow Zone|
|        44|Staten Island|Charleston/Totten...|   Boro Zone|
|        45|    Manhattan|           Chinatown| Yellow Zone|
|        46|        Bronx|         City Island|   Boro Zone|
|        47|        Bronx|  Claremont/Bathgate|   Boro Zone|
|        48|    Manhattan|        Clinton East| Yellow Zone|
|        49|     Brooklyn|        Clinton Hill|   Boro Zone|
|        50|    Manhattan|        Clinton West| Yellow Zone|
|        51|        Bronx|          Co-Op City|   Boro Zone|
|        52|     Brooklyn|         Cobble Hill|   Boro Zone|
|        53|       Queens|       College Point|   Boro Zone|
|        54|     Brooklyn|     Columbia Street|   Boro Zone|
|        55|     Brooklyn|        Coney Island|   Boro Zone|
|        56|       Queens|              Corona|   Boro Zone|
|        57|       Queens|              Corona|   Boro Zone|
|        58|        Bronx|        Country Club|   Boro Zone|
|        59|        Bronx|        Crotona Park|   Boro Zone|
|        60|        Bronx|   Crotona Park East|   Boro Zone|
|        61|     Brooklyn| Crown Heights North|   Boro Zone|
|        62|     Brooklyn| Crown Heights South|   Boro Zone|
|        63|     Brooklyn|       Cypress Hills|   Boro Zone|
|        64|       Queens|          Douglaston|   Boro Zone|
|        65|     Brooklyn|Downtown Brooklyn...|   Boro Zone|
|        66|     Brooklyn|  DUMBO/Vinegar Hill|   Boro Zone|
|        67|     Brooklyn|       Dyker Heights|   Boro Zone|
|        68|    Manhattan|        East Chelsea| Yellow Zone|
|        69|        Bronx|East Concourse/Co...|   Boro Zone|
|        70|       Queens|       East Elmhurst|   Boro Zone|
|        71|     Brooklyn|East Flatbush/Far...|   Boro Zone|
|        72|     Brooklyn|East Flatbush/Rem...|   Boro Zone|
|        73|       Queens|       East Flushing|   Boro Zone|
|        74|    Manhattan|   East Harlem North|   Boro Zone|
|        75|    Manhattan|   East Harlem South|   Boro Zone|
|        76|     Brooklyn|       East New York|   Boro Zone|
|        77|     Brooklyn|East New York/Pen...|   Boro Zone|
|        78|        Bronx|        East Tremont|   Boro Zone|
|        79|    Manhattan|        East Village| Yellow Zone|
|        80|     Brooklyn|   East Williamsburg|   Boro Zone|
|        81|        Bronx|         Eastchester|   Boro Zone|
|        82|       Queens|            Elmhurst|   Boro Zone|
|        83|       Queens|    Elmhurst/Maspeth|   Boro Zone|
|        84|Staten Island|Eltingville/Annad...|   Boro Zone|
|        85|     Brooklyn|             Erasmus|   Boro Zone|
|        86|       Queens|        Far Rockaway|   Boro Zone|
|        87|    Manhattan|Financial Distric...| Yellow Zone|
|        88|    Manhattan|Financial Distric...| Yellow Zone|
|        89|     Brooklyn|Flatbush/Ditmas Park|   Boro Zone|
|        90|    Manhattan|            Flatiron| Yellow Zone|
|        91|     Brooklyn|           Flatlands|   Boro Zone|
|        92|       Queens|            Flushing|   Boro Zone|
|        93|       Queens|Flushing Meadows-...|   Boro Zone|
|        94|        Bronx|       Fordham South|   Boro Zone|
|        95|       Queens|        Forest Hills|   Boro Zone|
|        96|       Queens|Forest Park/Highl...|   Boro Zone|
|        97|     Brooklyn|         Fort Greene|   Boro Zone|
|        98|       Queens|       Fresh Meadows|   Boro Zone|
|        99|Staten Island|     Freshkills Park|   Boro Zone|
|       100|    Manhattan|    Garment District| Yellow Zone|
+----------+-------------+--------------------+------------+
only showing top 100 rows

In [ ]:
#Get a groupby on

In [17]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+---------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|diff_time|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+---------+
|           HV0003|              B02887|2021-02-06 01:18:35|2021-02-06 01:40:34|         163|         235|   null|     1319|
|           HV0005|              B02510|2021-02-05 07:13:06|2021-02-05 07:31:56|         225|         181|   null|     1130|
|           HV0003|              B02869|2021-02-04 16:56:52|2021-02-04 17:21:36|         260|          95|   null|     1484|
|           HV0003|              B02871|2021-02-03 18:34:17|2021-02-03 18:57:12|         235|          60|   null|     1375|
|           HV0003|              B02869|2021-02-04 07:25:09|2021-02-04 07:30:34|          55|          55|   null|      325|
|           HV0003|              B02836|2021-02-04 23:15:27|2021-02-04 23:34:29|          74|          81|   null|     1142|
|           HV0003|              B02882|2021-02-05 07:45:49|2021-02-05 08:05:03|         239|         231|   null|     1154|
|           HV0003|              B02887|2021-02-03 17:33:59|2021-02-03 17:47:14|          95|         196|   null|      795|
|           HV0003|              B02877|2021-02-03 09:33:06|2021-02-03 09:45:59|         241|         265|   null|      773|
|           HV0003|              B02872|2021-02-02 12:58:46|2021-02-02 13:06:20|          90|         137|   null|      454|
|           HV0003|              B02764|2021-02-05 22:25:20|2021-02-05 22:28:27|           7|           7|   null|      187|
|           HV0003|              B02882|2021-02-04 19:57:44|2021-02-04 20:05:24|         231|         246|   null|      460|
|           HV0003|              B02764|2021-02-02 08:43:57|2021-02-02 08:53:46|         108|          29|   null|      589|
|           HV0003|              B02866|2021-02-04 05:51:50|2021-02-04 06:21:25|          11|         112|   null|     1775|
|           HV0003|              B02882|2021-02-05 16:13:02|2021-02-05 16:27:48|         229|         234|   null|      886|
|           HV0005|              B02510|2021-02-04 17:15:28|2021-02-04 17:24:46|          10|         218|   null|      558|
|           HV0003|              B02617|2021-02-04 09:59:58|2021-02-04 10:29:13|          49|         232|   null|     1755|
|           HV0005|              B02510|2021-02-05 23:34:27|2021-02-05 23:51:05|         125|          17|   null|      998|
|           HV0003|              B02875|2021-02-05 20:52:58|2021-02-05 21:19:59|          47|          68|   null|     1621|
|           HV0003|              B02875|2021-02-04 18:11:00|2021-02-04 18:37:24|          41|         223|   null|     1584|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+---------+
only showing top 20 rows

In [23]:
df_grp = df.groupBy('PULocationID','DOLocationID').count().orderBy('count',ascending = False)

In [25]:
df_grp.show()

+------------+------------+-----+
|PULocationID|DOLocationID|count|
+------------+------------+-----+
|          76|          76|45041|
|          26|          26|37329|
|          39|          39|28026|
|          61|          61|25976|
|          14|          14|17934|
|           7|           7|14688|
|         129|         129|14688|
|          42|          42|14481|
|          37|          37|14424|
|          89|          89|13976|
|         216|         216|13716|
|          35|          35|12829|
|         132|         265|12542|
|         188|          61|11814|
|          95|          95|11548|
|          36|          37|11491|
|          37|          36|11487|
|          61|         188|11462|
|          61|         225|11342|
|         188|         188|11308|
+------------+------------+-----+
only showing top 20 rows

In [ ]:
tmp.join(df_zones, tmp.zone == df_zones.LocadtionID)